src/test/resources/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<!--

    Mule Development Kit
    Copyright 2010-2011 (c) MuleSoft, Inc.  All rights reserved.  http://www.mulesoft.com

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:ssh="http://www.mulesoft.org/schema/mule/ssh"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.3.2"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd 
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd 
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd 
http://www.mulesoft.org/schema/mule/ssh http://www.mulesoft.org/schema/mule/ssh/current/mule-ssh.xsd
">

	<context:property-placeholder location="ssh.test.properties" /> 
    
    <ssh:config name="singleMode" timeout="10000" callbackFlowName="flow-callback" shellMode="false" receiverBufferSize="10000">
		<ssh:connection-pooling-profile
			maxActive="10" maxIdle="10" 
			exhaustedAction="WHEN_EXHAUSTED_GROW"
			maxWait="120" minEvictionMillis="60000" evictionCheckIntervalMillis="30000"/>
        <reconnect count="5" frequency="1000"/>
	</ssh:config>
	
	<ssh:config name="shellMode" timeout="10000" callbackFlowName="flow-callback" shellMode="true" receiverBufferSize="10000">
		<ssh:connection-pooling-profile
			maxActive="10" maxIdle="10" 
			exhaustedAction="WHEN_EXHAUSTED_GROW"
			maxWait="120" minEvictionMillis="60000" evictionCheckIntervalMillis="30000"/>
        <reconnect count="5" frequency="1000"/>
	</ssh:config>
	
	
    <flow name="singleCallTest" doc:name="flow-sync">
        <ssh:send username="${ssh.user}" password="${ssh.pass}" content="echo hello from ssh!" host="${ssh.host}" port="${ssh.port}" config-ref="singleMode"/>
    </flow>
    
    <flow name="shellModeTest">
        <ssh:send username="${ssh.user}" password="${ssh.pass}" host="${ssh.host}" port="${ssh.port}" content="cd test" breakLine="true" config-ref="shellMode" />
        <ssh:send username="${ssh.user}" password="${ssh.pass}" host="${ssh.host}" port="${ssh.port}" content="cat hola.txt" breakLine="true" config-ref="shellMode" />
    </flow>
    
    <flow name="flow-callback">
    	<logger level="ERROR" message="#[payload]" />
    </flow>
    

</mule>
