src/test/resources/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<!--

    Mule Development Kit
    Copyright 2010-2011 (c) MuleSoft, Inc.  All rights reserved.  http://www.mulesoft.com

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:sshmultiplexedconnector="http://www.mulesoft.org/schema/mule/sshmultiplexedconnector"
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xmlns:context="http://www.springframework.org/schema/context"
      xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/3.1/mule-vm.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.mulesoft.org/schema/mule/sshmultiplexedconnector http://www.mulesoft.org/schema/mule/sshmultiplexedconnector/1.0/mule-sshmultiplexedconnector.xsd">

	<context:property-placeholder location="ssh.test.properties" /> 
    <sshmultiplexedconnector:config host="172.16.20.36" port="22" timeout="60000" callbackFlowName="callback" shellMode="true" />

    <flow name="testFlow">
        <sshmultiplexedconnector:send username="${ssh.user}" password="${ssh.pass}" content="cd test" breakLine="true" />
        <sshmultiplexedconnector:send username="${ssh.user}" password="${ssh.pass}" content="cat hola.txt" breakLine="true"/>
    </flow>
    
    <flow name="release">
        <sshmultiplexedconnector:release username="${ssh.user}"/>
    </flow>
    
    <flow name="callback">
    	<logger level="ERROR" message="#[payload]" />
    </flow>
    

</mule>
